# Virtual environment / Python cache
.venv/
__pycache__/

# VS Code settings
.vscode/
*.code-workspace

# Logs, temporary/output files
logs/
*.log
*.out

# Not-repository data
ud_converter/data/ud/
tools-master/

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.bcf
*.bbl
*.blg
*.xml
*.toc

# macOS system files
.DS_Store

# Flake8
.flake8

# MyPy cache
.mypy_cache/
tools-master/

# Personal files
*.sh
*.txt

# Converter 
ud_converter/
converter/