# VS Code settings
.vscode/
*.code-workspace

# macOS system files
.DS_Store

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.bcf
*.bbl
*.blg
*.xml
*.toc
*.out
*.log

# Bash scripts
*.sh

# Text files
*.txt